<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.FirstApp"
        tools:targetApi="31">
        <activity
            android:name=".AddPostActivity"
            android:exported="false"
            android:label="@string/add_post_activity_title"
            android:parentActivityName=".HomeActivity"/>
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:label="@string/register_activity_title"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".PostsDetailsActivity"
            android:exported="false"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:label="@string/home_activity_title" /> <!-- android:parentActivityName=".MainActivity" /> -->
        <!--
 'parentActivityName' : Permet d'ajouter la flèche de retour à partir de la HomeActivity, va renvoyer sur la view activity_main
            On l'enlève car dans une application, le retour à la page login se fait pas un bouton déconnecter et non par une flèche situé dans l'action bar
        -->
        <!-- 'exported' : Attribut obligatoire au lancement du démarrage de l'appli, s'applique à la view que l'on veut afficher en 1er -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>